:root {
 --main-color: #4169E1;
 --bg-default: #F6F6F6;
 --bg-blue: #D6DFFB;
 --txt-light: #FFFFFF;
 --txt-dark: #000000;
 --border-default: #000000;
}

body{
  margin:0;
  font-family:'Montserrat', Helvetica, sans-serif;
}

@keyframes shake-banner {
  0% { transform: scaleX(-1) translateX(0); }
  25% { transform: scaleX(-1) translateX(-2px) translateY(-2px); }
  50% { transform: scaleX(-1) translateX(2px) translateY(2px); }
  75% { transform: scaleX(-1) translateX(-2px) translateY(-2px); }
  100% { transform: scaleX(-1) translateX(0); }
}
